<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="ROLLING_JSON_FILE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <springProfile name="!json-logger">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="json-logger">
            <appender-ref ref="ROLLING_JSON_FILE_APPENDER"/>
        </springProfile>
    </root>
</Configuration>